extends layout

block content
    section.bg-blue
        h1 Création d'un doodle
    section.container.form-new
        label(for='title') Nom du Doodle
        input#title(type='text', placeholder='Nom du Doodle')
        ul#liste-dates
        form#form-dates
            input(type='date' name='date')
            button.button.button-primary(type='submit')
                i.fa.fa-arrow-right
                |  &nbsp; Ajouter
        a#btn-valid.button.button-primary(href='#')
            i.fa.fa-check
            |  &nbsp; Terminer

block append javascripts
    script(src='/public/js/doodle-new.js')