extends layout

block content
    section.bg-blue
        h1 Nouveau Doodle
    section.container.form-new
        label(for='title') Nom du Doodle
        input#title(type='text', placeholder='Nom du Doodle')
        ul#liste-dates
        form#form-dates
            input(type='date')
            button.button.button-primary(type='submit')
                i.fa.fa-arrow-right
                |  Ajouter
        a.button.button-primary(href='#')
            i.fa.fa-check
            |  Terminer