extends layout

block content
    section.homepage.bg-blue
        h1= username
        p Welcome to doodle...

        form(action='/doodle' method='get')
            input(type="text" name="id" placeholder="Doodle ID")
            input(type="submit" value="Go!")

        a.btn(href="doodle-new")
            i.fa.fa-plus &nbsp;
            | &nbsp; Créer un Doodle
