doctype html
html
    head
        title Doodle - #{title}
        block stylesheets
        link(rel='stylesheet', href='/public/css/normalize.css')
        link(rel='stylesheet', href='/public/css/skeleton.css')
        link(rel='stylesheet', href='/public/css/style.css')
        link(rel='stylesheet', href='/public/css/font-awesome.min.css')
    body
        block content

        block javascripts